@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: mts;
}

/* Optimiser le code */
/* Ajouter les class sous forme de class tailwind directement dans les composants React  */
/* Prendre en compte les class tailwind dans les composants React  */
/* @layer components {
	.btn-primary {
		@apply pl-[230px] py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
	}
} */

.main_form {
	display: flex;
	flex-direction: column;
	padding-left: 230px;
	padding-right: 230px;
	padding-top: 40px;
}

.center {
	text-align: center;
}

.form_container {
	background-color: theme("colors.uranianblue");
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 500px;
	border-radius: theme("borderRadius.rounded");
}

.form_container img {
	width: 250px;
	align-self: center;
	padding-top: 40px;
}

.home_container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input_container {
	display: flex;
	flex-direction: column;
	min-height: 100px;
}

.input {
	color: theme("colors.grey");
	border-radius: theme("borderRadius.roundedbig");
	padding: 10px 24px;
	line-height: 1;
	font-size: theme("fontSize.base");
}

.label {
	color: theme("colors.yinblue");
	font-size: theme("fontSize.lg");
}

.main_button {
	background-color: theme("colors.airsupblue");
	color: theme("colors.greylight");
	border-radius: theme("borderRadius.roundedbig");
	padding: 10px 30px;
	line-height: 1;
	min-width: 150px;
	font-size: theme("fontSize.base");
}

.button_container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.error_message {
	color: theme("colors.red");
	font-weight: 600;
	font-size: theme("fontSize.base");
}


.footer{
	position: absolute;
	bottom: 40px;
	background-color: theme("colors.uranianblue");
	padding: 10px 25px;
    border-radius: 50px;
	/* transform: translateX(50%);
    left: 50%; */
}

.footer span{
	color: theme("colors.yinblue");
	font-size: theme("fontSize.sm");
}



.sidebar {
	background-color: theme("colors.uranianblue");
	color: theme("colors.white");
	display: inline-flex;
	font-family: theme("fontFamily.mts");
	font-size: theme("fontSize.medium");
	position: fixed;
	top: 0;
	bottom: 0;
}

.menu {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}
.titre {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	margin-top: 6rem;
	color: theme("colors.yinblue");
	font-family: theme("fontFamily.mts");
	font-size: theme("fontSize.2xl");
	line-height: 1;
}
.titre::after {
	width: 12rem;
	height: 2px;
	background-color: theme("colors.uranianblue");
	display: block;
	content: '';
	margin-top: 59px;
	position: absolute;
}
.logo {
    display: block;
    position: fixed;
    width: 250px;
    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
.presentation {
    font-family: theme('fontFamily.mts');
    font-size: theme('fontSize.lg');
	margin-top: 100px;
    padding-top: 3px;
    padding-left: 22rem;
    padding-right: 117px;
}
a + a {
	margin-left: 181px;
}
.buttons {
	display: flex;
	justify-content: center;
	font-family: theme('fontFamily.mts');
    font-size: theme('fontSize.lg');
	margin-top: 80px;
	align-items: center;
	flex-direction: column;
}
.avatar {
	position: absolute;
	top: 10px;
	right: 92px;
}
.content {
	background-color: theme("colors.uranianblue");
	font-family: theme('fontFamily.mts');
    font-size: theme('fontSize.lg');
	color: theme("colors.yinblue");
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 368px;
	border-radius: theme("borderRadius.rounded");	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 55px;
	margin-top: 50px;
}
.content_container {
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.information {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding-top: 30px;
}
	
.volumes_list{
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

/* .volumes_list a {
	background-color: theme("colors.uranianblue");
    width: 180px;
    height: 220px;
    display: flex;
    justify-content: center;
} */

.volume{
	background-color: theme("colors.uranianblue");
	width: 180px;
	height: 220px;
	display: flex;
    justify-content: center;
}

.volume-title{
	color: theme("colors.white");
	margin-top: 50px;
}